{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogconnect Gallery</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
</head>
<body>
    <section class="gallery-section">
        <h2>Yogconnect Moments</h2>
        <p>Capturing the essence of yoga in every pose</p>
        
        <div class="gallery-container">
            <!-- Gallery items will be added here by JavaScript -->
        </div>
        
        <button class="load-more">Load More</button>
    </section>

    <script src="{% static 'js/gallery.js' %}">
    </script>
    <script>
const galleryData = [
    { img: '{% static "media/gallery/morning_sun_salutation.png" %}', caption: 'Morning Sun Salutation' },
    { img: '{% static "media/gallery/group_meditation_session.png" %}', caption: 'Group Meditation Session' },
    { img: '{% static "media/gallery/advance_asana_practice.png" %}', caption: 'Advanced Asana Practice' },
    { img: '{% static "media/gallery/yoga_teacher_training.png" %}', caption: 'Yoga Teacher Training' },
    { img: '{% static "media/gallery/beach_yoga_retreat.png" %}', caption: 'Beach Yoga Retreat' },
    { img: '{% static "media/gallery/kids_yoga_class.png" %}', caption: 'Kids Yoga Class' },
    { img: '{% static "media/gallery/partner_yoga.png" %}', caption: 'Partner Yoga' },
    { img: '{% static "media/gallery/yoga_in_nature.png" %}', caption: 'Yoga in Nature' },   
];
</script>

</body>


</html>